    body {
        font-family: verdana, sans-serif;
        background-image: url(sp_wallpaper_spear_1920x1080.jpg);
        background-size: 100rem 50rem;
    }
    
    .author {
        font-size: 1rem;
        margin-top: 0px;
        color: gray;
        margin-bottom: 100px;
    }
    
    td {
        border: 2px solid;
        border-radius: 7px;
        border-color: rgb(20, 20, 20);
        background-color: rgb(71, 71, 71);
    }
    
    .mainIndx {
        color: rgb(31, 31, 31);
    }
    
    .downloadText {
        margin: 5px;
        color: rgb(0, 0, 0);
        display: inline-block;
        font-weight: 1000;
    }
    
    .logo1 {
        display: inline-block;
        border: 10px solid rgb(165, 79, 79);
        background-color: rgb(165, 79, 79);
        border-radius: 7px;
    }
    
    p1 {
        padding: 2rem;
    }
    
    .download1 {
        display: inline-block;
        border: 0px solid rgb(226, 112, 112);
        background-color: rgb(226, 112, 112);
        border-radius: 7px;
        margin: 10px;
        box-shadow: 0px 5px 0px 0px rgb(165, 51, 51);
    }